@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Caesar+Dressing&family=Julius+Sans+One&family=Libre+Baskerville&family=Mulish&family=Pompiere&family=Work+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #ededed;
  background-color: #1c1c1c;
  font-family: "Work Sans";
}

header{
  border-bottom: 1px solid;
  border-image: linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82) 1;
  padding: 1.2em 15%;
}

.logo{
  font-size: 2rem;
  font-weight: bold;
}

#searchInput,#addBookButton{
  padding: 0.7em;
}


#searchInput{
  background-color: #1c1c1c;
  border: solid 1px #ededed;
  border-radius: 5px;
  color: #ededed;
}

.headerContentContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button,input{
  font: inherit;
}

button{
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

main{
  padding: 0 15%;
}

.addButtonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
}

#addBookButton{
  font-size: 1.4rem;
  font-weight: bold;
  scale: 1.1;
}

.book, #modal{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  color: #1c1c1c;
  background-color: #dac6fb;
  width: 300px;
  height: 350px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 15px;
  animation-name: modalAnimation;
  animation-duration: 0.4s;
}

.book button{
  padding: 0.6em;
  width: 80%;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 100%;
  color: #1c1c1c;
}

#modal{
  background-color: #ededed;
  height: 400px;
  width: 330px;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#modal input{
  border-radius: 5px;
  font-size: 1.3rem;
  border: none;
  padding: 0.6em;
  width: 100%;
}

#modal button{
  border: 1px solid #1c1c1c;
  padding: 0.6em;
  width: 100%;
}

form div{
  display: flex;
  width: 100%;
}

input[type="checkbox"]{
  height: 25px;
  min-width: 25px;
}

label{
  white-space: nowrap;
}

#modalBackground{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

#booksContainer{
  display: grid;
  grid-template-columns: 3;
}

@keyframes modalAnimation{
  from{scale: 0; opacity: 0;}
  to{scale: 1; opacity: 1;}
}